---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <p>
    Aqui eu escrevo minhas idéias.
    </p>



        <footer>

        <script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1R70ezEIXj8WmP1sz7qH2iWC"
  publishable-key="pk_live_51QxxIfEIXj8WmP1s7Vx3yp0aaa9r7cQnJqRPCh7HcgUGiMn1scS0cU2cXyij2qG1YYFgt0ZN9yUHonRDg86BgjOb0073f7YZ2h"
>
</stripe-buy-button>
    
  </main>
</footer>
</Layout>
