---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <p>
      hp27 is my personal blog. Here i wrote about my passions. 
    </p>
    <p>
      I talk about investing too here <a
        href="https://threedolar.com.br/"
        target="_blank"
        class="text-blue-500 underline">Finance blog</a
      >.
    </p>
  </main>
</Layout>
